<% content_for :text do %>
  <p>Oh I bet you weren't expecting this page!</p>
  <h2>A wild H2 appears!!</h2>
<% end %>

<% content_for :img do %>
  <img class="img-responsive" src="imgs/Broken_carbon_fiber_bar.jpg" alt="Broken Carbon Fiber" />
<% end %>
