<div class="row col-md-6 col-sm-12">
	<p>Go on a mysterious journey...Refresh the page if you dare.</p>
</div>
<div class="row col-md-6 col-sm-12">
	<img class="img-responsive" src="imgs/Meirelles-guararapes.jpg" alt="The Battle" />
</div>
