<% content_for :text do %>
	<p>Go on a mysterious journey...Refresh the page if you dare.</p>
<% end %>

<% content_for :img do %>
	<img class="img-responsive" src="imgs/Meirelles-guararapes.jpg" alt="The Battle" />
<% end %>