<div class="row col-md-6 col-sm-12">
	<p>I'm writing this out in class while I'm pretty hungry. I think I'll get some lunch after this...Maybe a nap too.</p>
</div>
<div class="row col-md-6 col-sm-12">
	<img class="img-responsive" src="imgs/Polar_Bear_AdF.jpg" alt="Polar Bear" />
</div>