<!doctype html>
<html>
  <head>
    <title>Project 2</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="row col-md-6 col-sm-12">
	    	<p>I'm writing this out in class while I'm pretty hungry. I think I'll get some lunch after this...Maybe a nap too.</p>
	    </div>
	    <div class="row col-md-6 col-sm-12">
	    	<img class="img-responsive" src="imgs/Polar_Bear_AdF.jpg" alt="Polar Bear" />
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>