// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
nav li {
	display: inline;
	font-size: 18px;
	padding-right: 10px;
}
body, html{
	background-color: #f8f8f8;
}
h1{
	color: #ef4836;
}